@{
    ViewBag.Title = "Homepage";
}

<div class="jumbotron">
    <h1>Newsletter form</h1>
    <p class="lead">
        This is an ASP MVC web application, which allows you to sign up for the Greenfich newsletter in order to receive daily or weekly emails with interesting information.
    </p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("SignUp", "Subscriptions")">Subscribe to newsletter!</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Subscriptors</h2>
        <p>List of all emails already subscribed to newsletter. You can see related information or just remove them from DB.</p>
    </div>
    <div class="col-md-4">
        <h2>Sign up</h2>
        <p>Easy as write your email, tell how you did meet us and get interesting news!</p>
    </div>
    <div class="col-md-4">
        <h2>About us</h2>
        <p>At this section you'll find more about Greenfinch Technology.</p>
    </div>
</div>